<nav class="navbar navbar-light bg-light d-flex justify-content-between w-100">
  <%= link_to "Wikinimous", root_path, class: "navbar-brand ms-3" %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-light border me-3'  %>
</nav>
